.projects {
  padding: 160px 0 120px;
}

.projects-heading {
  display: flex;
  justify-content: space-between;

  margin-bottom: 80px;

  color: var(--muted-text);

  font-size: 0.7rem;
  letter-spacing: 0.12em;
}

.projects-intro {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 80px;
  align-items: end;

  margin-bottom: 100px;
}

.projects-intro h2 {
  margin: 0;

  max-width: 900px;

  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 500;
  line-height: 0.92;
  letter-spacing: -0.055em;
}

.projects-intro p {
  margin: 0;

  color: var(--muted-text);

  font-size: 0.95rem;
  line-height: 1.6;
}


@media (max-width: 700px) {
  .projects {
    padding: 100px 0 80px;
  }

  .projects-heading {
    margin-bottom: 50px;
  }

  .projects-intro {
    grid-template-columns: 1fr;
    gap: 30px;

    margin-bottom: 60px;
  }
}
